<p id="notice"><%= notice %></p>

<div class="placeholder"></div>

<% @newpost = @post %>
<div class="container entry">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1><%= sanitize(@newpost.content) %></h1>
        <br />
        <h3 class="text-right">—— <%= sanitize(@newpost.author) %></h3>
      </div>
    </div>
  </div>
</div>

<!--<p>-->
  <!--<strong>Author:</strong>-->
  <!--<%= @post.author %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Content:</strong>-->
  <!--<%= @post.content %>-->
<!--</p>-->

<div class="placeholder"></div>
<p class="text-right"><%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %></p>
